/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.orgchart {
    background-image: none !important;
}

.tree-node {
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid #ff6f31;
  width: 104%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #57bb8a;
  color: #fff;
  border-radius: 4px 4px 4px 4px;
}
