<!--<h1>Welcome to the Doughnut store!</h1>-->
<div *ngIf="buildTree">
  <app-doughnut-tree [selectedNodes]="selectedNodes"></app-doughnut-tree>
</div>

<app-question [treeNode]="treeNode"
              [showResult]="showResult"
              (onPositiveAnswer)="onPositiveAnswer($event)"
              (onNegativeAnswer)="onNegativeAnswer($event)"
              (onPlayAgain)="onPlayAgain()"
              (onShowResult)="onShowResult()"
              style="text-align: center;"
              ></app-question>
