<!--<h1>Welcome to the Doughnut store!</h1>-->


<div *ngIf="buildTree">
  <app-doughnut-tree [selectedNodes]="selectedNodes"></app-doughnut-tree>
</div>

<app-question [treeNode]="treeNode"
              [showResult]="showResult"
              (onPositiveAnswer)="onPositiveAnswer($event)"
              (onNegativeAnswer)="onNegativeAnswer($event)"
              (onPlayAgain)="onPlayAgain()"
              (onShowResult)="onShowResult()"
              style="text-align: center;"
              ></app-question>
<!--<div class="btns-container">
  <app-button [buttonConfig]="yesBtnConfig"
              (textBtnClickEmt)="onClickEventReceived($event)"></app-button>
  <app-button [buttonConfig]="noBtnConfig"
              (textBtnClickEmt)="onClickEventReceived($event)"></app-button>
</div>-->

<!--<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
       src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome to Doughnut Decision Helper</span>
</div>-->
<!--<div class="content" role="main">
  <div *ngIf="!isLast" class="card-container">
    <div class="row">
      <span class="header">{{decisionheader}}</span>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" [disabled]="!isTrue" class="btn btn-success decision-btn" (click)="updateChoice('Yes')"
                title={{yesmessage}}>
          YES
        </button>
        <small id="passwordHelpBlock" class="form-text text-muted">
          {{yesmessage}}
        </small>
      </div>
      <div class="col">
        <button type="button" [disabled]="!isTrue" class="btn btn-danger decision-btn" (click)="updateChoice('No')"
                title={{nomessage}}>
          NO
        </button>
        <small id="passwordHelpBlock" class="form-text text-muted">
          {{nomessage}}
        </small>
      </div>
    </div>

  </div>

  <div class="tree tree-width" *ngIf="isLast">
    <ul>
      <li>
        <div class="bg-info">Do you want a doughnut?</div>
        <ul>
          <li>
            <div [ngClass]="{'selected-node' : isWantYes}">YES<br><label>Do i deserve it?</label></div>
            <ul>
              <li>
                <div [ngClass]="{'selected-node' : isDeserveYes}">YES<br><label>Are you sure?</label></div>
                <ul>
                  <li>
                    <div [ngClass]="{'selected-node' : isSureYes}">YES<br><label>Get it.</label></div>
                  </li>
                  <li>
                    <div [ngClass]="{'selected-node' : isSureNo}">NO <br><label>Do jumping jacks first.</label></div>
                  </li>
                </ul>
              </li>
              <li>
                <div [ngClass]="{'selected-node' : isDeserveNo}">NO <br><label>Is it a good doughnut?</label></div>
                <ul>
                  <li>
                    <div [ngClass]="{'selected-node' : isGoodYes}">
                      YES <br><label>
                        What are you waiting for? Grab it
                        now.
                      </label>
                    </div>
                  </li>
                  <li>
                    <div [ngClass]="{'selected-node' : isGoodNo}">
                      NO <br><label>
                        Wait 'till you find a
                        sinful,unforgettable doughnut.
                      </label>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <div [ngClass]="{'selected-node' : isWantNo}">NO<br><label>Maybe you want an apple?</label></div>
          </li>
        </ul>

      </li>
    </ul>
  </div>
  <div *ngIf="isLast" class="content" role="main">
    <div class="card-container">
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-primary decision-btn btn-sm" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>
  </div>-->
